USE [master]
GO
/****** Object:  Database [PRACTICA_04]    Script Date: 3/10/2024 20:58:12 ******/
CREATE DATABASE [PRACTICA_04]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRACTICA_04', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL\MSSQL\DATA\PRACTICA_04.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRACTICA_04_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL\MSSQL\DATA\PRACTICA_04_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRACTICA_04].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRACTICA_04]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/10/2024 20:58:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Detalles]    Script Date: 3/10/2024 20:58:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Detalles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Observaciones] [nvarchar](max) NOT NULL,
	[servicio_id] [int] NOT NULL,
	[turno_id] [int] NOT NULL,
 CONSTRAINT [PK_T_Detalles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Servicios]    Script Date: 3/10/2024 20:58:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Servicios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Costo] [float] NOT NULL,
	[enPromocion] [bit] NOT NULL,
 CONSTRAINT [PK_T_Servicios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Turnos]    Script Date: 3/10/2024 20:58:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Turnos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Hora] [datetime2](7) NOT NULL,
	[Cliente] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_T_Turnos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_T_Detalles_servicio_id]    Script Date: 3/10/2024 20:58:13 ******/
CREATE NONCLUSTERED INDEX [IX_T_Detalles_servicio_id] ON [dbo].[T_Detalles]
(
	[servicio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_Detalles_turno_id]    Script Date: 3/10/2024 20:58:13 ******/
CREATE NONCLUSTERED INDEX [IX_T_Detalles_turno_id] ON [dbo].[T_Detalles]
(
	[turno_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Detalles]  WITH CHECK ADD  CONSTRAINT [FK_T_Detalles_T_Servicios_servicio_id] FOREIGN KEY([servicio_id])
REFERENCES [dbo].[T_Servicios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_Detalles] CHECK CONSTRAINT [FK_T_Detalles_T_Servicios_servicio_id]
GO
ALTER TABLE [dbo].[T_Detalles]  WITH CHECK ADD  CONSTRAINT [FK_T_Detalles_T_Turnos_turno_id] FOREIGN KEY([turno_id])
REFERENCES [dbo].[T_Turnos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_Detalles] CHECK CONSTRAINT [FK_T_Detalles_T_Turnos_turno_id]
GO
USE [master]
GO
